{%- set image = image is defined ? image : '' -%}
{%- set class = class is defined ? class : '' -%}
{%- set lazyload = lazyload is defined ? lazyload : true -%}
{%- set is_template = is_template is defined ? is_template : false -%}
{%- set thumbnail = thumbnail is defined ? thumbnail : 'default' -%}
{%- set lightbox_id = lightbox_id is defined ? lightbox_id : '' -%}
{%- set class = not non_responsive|default ? class ~ ' responsive-image' : class -%}
{%- set image = image|instanceof('App\\Entity\\Image') ? image.getPath : image -%}
{%- set is_svg = image|slice(image|length - 3, 3) == 'svg' -%}

{%- apply strip_spaces -%}
  {%- if lightbox_id -%}
    <a{%- if not is_template %} href="{{- image -}}"{%- else %} data-reference="link"{%- endif -%} data-fancybox="{{- lightbox_id -}}">
  {%- endif -%}

    <img
      class="{{- class|trim -}}{{- lazyload ? ' lazyload' : '' -}}"
      alt="{{- alt|default -}}"
      title="{{- title|default -}}"
      {% if not is_template %}
        src="{{- is_svg ? image : (lazyload ? image|imagine_filter(thumbnail, thumbnail|get_liip_preview_config) : image|imagine_filter(thumbnail)) -}}"
        {% if lazyload %}
          data-src="{{- image|imagine_filter(thumbnail) -}}"
        {% endif %}
      {% else %}
        data-reference="image"
      {% endif %}
    >

  {%- if lightbox_id -%}
    </a>
  {%- endif -%}
{%- endapply -%}
