{% extends 'base.html.twig' %}

{% block title %}{{ page_title('title.profile') }}{% endblock %}

{# TODO: Add noindex, nofollow #}

{% block content %}
  <div class="container">
    <div class="grid profile">
      {% set username = user.getUsername %}
      {% set image    = user.getImage %}

        <div class="col-12 col-md-3">
          <div class="profile__username">
            {{ username }}
          </div>

          {% if image %}
            <img src="{{ image.getPath }}" class="responsive-image">
          {% else %}
            <img src="{{ asset('/build/images/placeholder-profile-image.jpg') }}" class="responsive-image">
          {% endif %}

          {{ form(profile_form) }}
        </div>
    </div>
  </div>
{% endblock %}
