{%- set user = app.getUser -%}
{%- set theme = 'dark' -%}
{%- set color = 'default' -%}

{%- if user -%}
  {%- set theme = user.getTheme|default('dark') -%}
  {%- set color = user.getColor|default('default') -%}
{%- endif -%}

{%- set html -%}
  <!DOCTYPE html>
  <html lang="{{- current_locale -}}">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {%- block meta -%}{%- endblock -%}

      <title>{%- block title -%}{{- page_title('title.index') -}}{%- endblock -%}</title>

      {%- block styles -%}
        {{- encore_entry_link_tags('main') -}}
      {%- endblock -%}

      {%- block additonal_styles -%}{%- endblock -%}

      {%- block user_styles -%}
        {%- if color != 'default' -%}
          {{- css(encore_entry_css_files('user_styles')[0], color) -}}
        {%- endif -%}
      {%- endblock -%}

      {%- block translations -%}
        <script>window.translations = {{- translations('js_globals')|json_encode|raw -}};</script>
      {%- endblock -%}
    </head>

    {%- do clear_user_files_from_tmp(user) -%}

    <body class="theme--{{- theme -}}">
      <a class="skip-to-page-content" href="#main">
        {{- 'skip_to_page_content'|trans -}}
      </a>

      {%- block header -%}
        {%- include 'layout/header.html.twig' -%}
      {%- endblock -%}

      <main id="main">
        {%- block flash_messages -%}
          {%- include 'layout/flash-messages.html.twig' -%}
        {%- endblock -%}

        {%- block content_wrapper -%}
          <section class="content">
            <div class="container">
              {%- block content -%}{%- endblock -%}
            </div>
          </section>
        {%- endblock -%}
      </main>

      {%- block footer -%}
        {%- include 'layout/footer.html.twig' -%}
      {%- endblock -%}

      {%- block scripts -%}
        {{- encore_entry_script_tags('app') -}}
      {%- endblock -%}

      {%- block additonal_scripts -%}{%- endblock -%}
    </body>
  </html>
{%- endset -%}

{%- if app.environment != 'dev' -%}
  {%- apply spaceless -%}
    {{- html -}}
  {%- endapply -%}
{%- else -%}
  {{- html -}}
{%- endif -%}
