{% extends 'base.html.twig' %}

{% block title %}{{ page_title('title.register') }}{% endblock %}

{% block content %}
  {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  {% if app.user %}
    <div class="mb-3">
      You are logged in as
      {{ app.user.username }},
      <a href="{{ path('app_logout') }}">Logout</a>
    </div>
  {% endif %}

	{{ form(login_form) }}
{% endblock %}
